body {
    background-color: #0093E9;
    background-image: linear-gradient(164deg, #0093E9 0%, #80D0C7 100%);
    /* height: 100%; */
}

header {
    color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    flex-basis: auto;
}

.logo h5 {
    font-size: 20px;
    padding-left: 20px;
    margin-bottom: 0;
}

#nvbCollapse a {
    color: white !important;
}