/* Remove button focus */
.btn:focus {
  outline: none;
  box-shadow: none;
}

/* All delay classes will take half the time to start */
:root {
  --animate-delay: 0.07s;
}

.file-upload input[type='file'] {
    display: none;
}

.rounded-lg {
  border-radius: 1rem;
}

.custom-file-label.rounded-pill {
  border-radius: 50rem;
}

.custom-file-label.rounded-pill::after {
  border-radius: 0 50rem 50rem 0;
}

/* Submit button */
.btn.btn-round {
    border-radius: 40px; 
}

.btn-primary {
    background-color: #02aff1 !important;
    border-color: #02aff1 !important;
}

/* Loading button */
#submitButton {
  position: relative;
}

.button--loading .button__text {
  visibility: hidden;
  opacity: 0;
}

.button--loading::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 2px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

/* Details in modal */
.successCode {
  font-size: 15px;
  color: #73af55;
}

.unreachableCode {
  font-size: 15px;
  color: #d06079;
}