<!DOCTYPE html>
<html>

<head>
	<title>Flask App</title>
	<link rel="stylesheet" href="/css/header.css">
	<!-- Bootstrap css -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	{%block css%}
	{%endblock%}
</head>

<body>
	<header>
		<!--- Navbar --->
		<nav class="navbar navbar-expand-lg">
			<div class="container">
				<div class="logo">
					<!-- Logo Image -->
					<img src="/imgs/logoTeam3.png" width="77" alt="" class="d-inline-block align-middle mr-2">
					<!-- Logo Text -->
					<h5>Deploy Ansible via web UI</h5>
				</div>

				<div class="collapse navbar-collapse" id="nvbCollapse">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item pl-1">
							<a class="nav-link" href="/">Home</a>
						</li>
						<li class="nav-item active pl-1">
							<a class="nav-link" href="/upload">Upload</a>
						</li>
						<li class="nav-item pl-1">
							<a class="nav-link" href="/deploy">Deploy</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!--# Navbar #-->
	</header>
	{%block content%}
	{%endblock%}
</body>
<!-- Bootstrap script -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
<script>
	// Add the following code if you want the name of the file appear on select
	$(".custom-file-input").on("change", function () {
		var fileName = $(this).val().split("\\").pop();
		$(this).siblings(".custom-file-label").addClass("selected").html(fileName);
	});
</script>

</html>