{%extends "layout.html"%}

{%block css%}
<link rel="stylesheet" href="/css/upload.css">
{%endblock%}

{% block content %}
<div class="container">
    <section>
        <div class="container p-5">
            <div class="row">
                <div class="col-lg-5 mx-auto">
                    <div class="p-5 bg-white shadow rounded-lg"><img src="/imgs/upload-image.png" alt="upload Image"
                            width="200" class="d-block mx-auto mb-4 rounded-pill">

                        <form action="/upload_inventory" method="POST" enctype="multipart/form-data">
                            <h6 class="text-center mb-4 text-muted">
                                Select Inventory file upload
                            </h6>

                            <div class="custom-file overflow-hidden rounded-pill mb-5">
                                <input type="file" class="custom-file-input" name="file" id="file">
                                <label class="custom-file-label" for="file">Select file...</label>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Upload and check connection</button>
                            </div>
                        </form>
                    </div>
                      <pre>{{ ip_status }}</pre> <br/>       <!-- #bien nay tra ve {"ip": ["192.168.1.16", "192.168.1.12"], "status": ["SUCCESS", "SUCCESS"]} -->
                      <pre>{{ json_dumps }}</pre>            <!-- bien nay tra ve {"connection status": true} -->
                </div>
            </div>
        </div>
    </section>
</div>
{%endblock%}